/* -------------------- FONTS -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

/* -------------------- ROOT VARIABLES -------------------- */
:root {
  --color-primary-1: #1941b7;
  --color-primary-2: #930f1d;
  --color-primary-3: #b91d2d;
  --color-primary-4: #e9f2ff;
  --color-primary-5: #ffdfe3;
  --color-primary-6: #3656b6;

  --color-neutral-0: #FAFAFA;
  --color-neutral-1: #d1cece;
  --color-neutral-2: #111111;
  --color-neutral-3: #2b2a2a;
}

/* -------------------- FOOTER -------------------- */
