/* -------------------- ROOT VARIABLES -------------------- */
:root {
  --color-primary-1: #1941b7;
  --color-primary-2: #930f1d;
  --color-primary-3: #b91d2d;
  --color-primary-4: #e9f2ff;
  --color-primary-5: #ffdfe3;
  --color-primary-6: #3656b6;

  --color-neutral-0: #fafafa;
  --color-neutral-1: #d1cece;
  --color-neutral-2: #111111;
  --color-neutral-3: #2b2a2a;
  --color-neutral-4: #504f4f;
  --color-neutral-5: #6c6c6c;
}

/* -------------------- IMPORT -------------------- */
@font-face {
  font-family: "Cabin";
  src: url("../assets/fonts/Cabin-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LibreFranklin";
  src: url("../assets/fonts/LibreFranklin-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -------------------- GLOBAL SETTINGS -------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-variation-settings: "wght" 400;
}

body {
  background-color: var(--color-neutral-0);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

/* -------------------- HERO SECTION -------------------- */

#hero {
  width: 100%;
  height: 90vh;
  display: flex;
  padding-top: 50px;
}

.hero-container {
  height: auto;
}

#hero .row {
  display: flex;
  align-items: center;
}

#hero span {
  font-size: clamp(15px, 1.5vw, 18px);
  color: var(--color-neutral-5);
}

#hero h1 {
  font-family: "LibreFranklin", sans-serif;
  font-variation-settings: "wght" 700;
  font-size: clamp(36px, 4vw, 46px);
  padding-top: 5px;
  word-break: break-word;
  max-width: 90%;
  line-height: 1.2;
}

#hero p {
  font-size: clamp(14px, 1.4vw, 18px);
  color: var(--color-neutral-5);
  padding-top: 10px;
  max-width: 600px;
  line-height: 1.6;
}

.hero-buttons {
  margin-top: 10%;
}

#hero .btn-start-now {
  padding: 5px 28px;
  border-radius: 7px;
  background-color: var(--color-primary-2);
  color: var(--color-neutral-0);
  border: none;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  margin: 40px;
  text-decoration: none;
  transition: all 0.3s ease;
}

#hero .btn-start-now:hover {
  background-color: var(--color-primary-3);
}

#hero .btn-signin {
  padding: 5px 35px;
  border-radius: 7px;
  background-color: transparent;
  color: var(--color-neutral-2);
  border: 1px solid var(--color-neutral-2);
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}
#hero .btn-signin:hover {
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-0);
}

#hero img {
  width: 100%;
  height: 700px;
  margin-top: -100px;
  object-fit: contain;
}

/* -------------------- CARROUSEL SECTION -------------------- */
#carrousel {
  width: 100%;
  min-height: 20vh;
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.empresas {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.empresas h2 {
  font-size: clamp(18px, 1.7vw, 20px);
  color: var(--color-neutral-5);
  padding: 15px;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: slide 16s linear infinite;
}

.empresas img {
  margin: 0 20px;
}

.logo-circle {
  height: 40px;
  width: auto;
}

.logo-line {
  height: 30px;
  width: auto;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}



/* -------------------- CPAAS SECTION -------------------- */
#cpaas {
  width: 85%;
  min-height: 100vh;
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0 auto;
} 

#cpaas .container {
  background-color: #E9F2FF;
  padding-top: 100px;
  border-radius: 4vh;
}


#cpaas h2 {
  font-family: "LibreFranklin", sans-serif;
  font-variation-settings: "wght" 500;
  text-align: center;
  font-size: clamp(36px, 4vw, 46px);
  line-height: 1.2;
  margin-bottom: 40px;
}

#cpaas h3 {
  font-family: "Cabin", sans-serif;
  font-variation-settings: "wght" 600;
  font-size: clamp(22px, 2vw, 26px);
  line-height: 1.2;
  margin-bottom: 20px;
}

#cpaas p {
  font-variation-settings: "wght" 400;
  font-size: clamp(14px, 1.5vw, 17px);
  line-height: 1.6;
  margin-bottom: 70px;
  padding-right: 50px;
  
}

#cpaas .container img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}


/* -------------------- SOLUÇÕES SECTION -------------------- */

#solucoes .title {
 font-family: "LibreFranklin", sans-serif;
  font-variation-settings: "wght" 700;
  font-size: clamp (20px, 10vh, 30px);
}

#solucoes .card-text


#solucoes .card {
  width: 500px;
  height: auto;
  border: 0.5px solid var(--color-primary-1);
  border-radius: 3vh;
  display: grid;
}

#solucoes img {
  width: 70px;
  height: auto;
  display: flex; 
  font-weight: 600;
  font-size: clamp (15px, 1.5vw, 18px);
}

#solucoes p {
  color: var(--color-neutral-3);
  font-size: 1.9vh;
  padding-right: 55px;
}





/* -------------------- MEDIA QUERY -------------------- */

/* ======= Hero ======= */
@media screen and (max-width: 768px) {
  #hero img {
    width: 100%;
    height: 300px;
    margin-top: -5px;
    object-fit: contain;
  }

  #hero {
    padding-top: 100px;
  }

  #hero h1,
  #hero span,
  #hero p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ======= Carrousel ======= */
@media screen and (max-width: 768px) {
  #carrousel {
    padding-top: 80px;
  }
}

/* ======= CPaaS ======= */
@media screen and (max-width: 768px) {
  #cpaas {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #cpaas .container img {
    width: 100%;
    height: 350px;
    object-fit: contain;
  }

  #cpaas p {
    margin-bottom: 50px;
    padding-right: 20px;
  }
}